h1 {
    font-family: 'helvetica', 'sans-serif';
    color: rgb(107, 106, 106);
    padding: 20px;
}
html {
    background-color: black;
}
ul {
    display: flex;
    font-family: Helvetica, Arial,sans-serif;
    color: white;
    list-style: none;
    
}
li {
    margin: 10px;
    padding: 20px;
    background-color: rgb(107, 106, 106);
    border-radius: 30px;
}
a {
    font-family: 'helvetica', 'sans-serif';
    color: white;
    text-decoration: none;
    background-color: rgb(54, 54, 54);
    border-radius: 30px;
    margin: 30px;
    padding: 20px;
}